{% extends 'chat_app/base.html' %}

{% block 'contents' %}
<div>
    <h1>Chat</h1>
</div>
{% if user.is_authenticated %}
<div>
    <p>User is logged in :)</p>
    <p>Username -->  {{ user.username }}</p>
    <p>Mail -->  {{ user.email }}</p>
</div>

<div>
    <a href="{% url 'chat_app:logout' %}">
        <button class="btn btn-secondary">Logout</button>
    </a>
</div>
{% else %}
<div>
    <p>User is not logged in :(</p>
</div>

<div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'chat_app:login' %}">
                <button class="btn btn-secondary">Login</button>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'chat_app:register' %}">
                <button class="btn btn-secondary">Register</button>
            </a>
        </li>
    </ul>
</div>
{% endif %}

<div>
    <form action="{% url 'chat_app:add_friend' %}" method="post">
        {% csrf_token %}
        {{form_add_friend}}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

<div>
    <form action="{% url 'chat_app:add_room' %}" method="post">
        {% csrf_token %}
        {{form_add_room}}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

<div>
    <h2>Friends list</h2>
    <table>
        {% for chatroom_users in private_chatrooms_friends %}
        <th>
            <td>{{chatroom_users.user.username}}</td>
            <td>
                <a href={% url 'chat_app:room' chatroom_id=chatroom_users.chatroom.id %}>{{chatroom_users.chatroom.name}}</a>
            </td>
            <td>
                <form action="{% url 'chat_app:del_friend' chatroom_users_id=chatroom_users.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Del">
                </form>
            </td>
        </th>
        {% endfor %}
    </table>
</div>

<div>
    <h2>Pending requests</h2>
    <table>
        {% for chatroom_users in private_chatrooms_pending %}
        <tr>
            <td>
                {{chatroom_users.user.username}}
            </td>
            <td>
                <a href={% url 'chat_app:room' chatroom_id=chatroom_users.chatroom.id %}>{{chatroom_users.chatroom.name}}</a>
            </td>
            <td>
                <form action="{% url 'chat_app:add_friend' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="friend_username" value="{{chatroom_users.user.username}}">
                    <input type="submit" class="btn btn-secondary" value="Add">
                </form>
            </td>
            <td>
                <form action="{% url 'chat_app:del_pending' chatroom_users_id=chatroom_users.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Del">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h2>Sent requests</h2>
    <table>
        {% for chatroom_users in private_chatrooms_sent %}
        <th>
            <td>{{chatroom_users.user.username}}</td>
            <td>
                <a href={% url 'chat_app:room' chatroom_id=chatroom_users.chatroom.id %}>{{chatroom_users.chatroom.name}}</a>
            </td>
            <td>
                <form action="{% url 'chat_app:del_sent' chatroom_users_id=chatroom_users.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Del">
                </form>
            </td>
        </th>
        {% endfor %}
    </table>
</div>

<div>
    <h2>Chatrooms</h2>
    <table>
        {% for chatroom in nonprivate_chatrooms %}
        <tr>
            <td>
                <a href={% url 'chat_app:room' chatroom_id=chatroom.id %}>{{chatroom.name}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}