{% extends 'chat_app/base.html' %}

{% block 'contents' %}
<div class="row">
    <div class="col">
        <form action="{% url 'chat_app:login' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.errors }}
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label_tag }}
                </label>
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="mb-3">
            I don't have account: 
            <a href="{% url 'chat_app:register' %}" class="link-info">Register</a>
        </div>
    </div>
</div>
{% endblock %}